.alerts-container {
    background-color: var(--accent-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.alerts-content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.alerts-grid {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding: 2em;
    overflow-y: auto;
    height: calc(100vh - 80px);
    box-sizing: border-box;
}

.alerts-box {
    background-color: var(--secondary-color);
    border-radius: 1em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 200px;
    box-shadow: rgba(80, 48, 71, 0.2) 0px 4px 12px;
}

.alerts-box-top {
    flex: 2;
    background-color: var(--secondary-color);
}

.alerts-box-bottom {
    flex: 1;
    background-color: var(--primary-color);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.alerts-sidebar {
    flex: 1;
    background-color: var(--secondary-color);
    padding: 2em 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    height: calc(100vh - 80px);
    position: sticky;
}

.alerts-search-container {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 0.8em 1em;
    background-color: var(--primary-color);
    gap: 0.5em;
}

.alerts-search-icon {
    width: 20px;
    height: 20px;
}

.alerts-search-input {
    border: none;
    background: transparent;
    color: white;
    font-size: 1em;
    width: 100%;
    outline: none;
}

.alerts-search-input::placeholder {
    color: white;
}

.alerts-divider {
    border: none;
    border-top: 2px solid var(--primary-color);
    margin: 0.5em 0 22em 0;
}

.alerts-sidebar-btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1em 1em;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    transition: background-color 0.2s;
}

.alerts-sidebar-btn:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.alerts-grid::-webkit-scrollbar-track {
    background-color: #503047;
    border-radius: 8px;
}

.alerts-grid::-webkit-scrollbar-thumb {
    background-color: #FFDDF6;
    border-radius: 8px;
    border: 3px solid #503047;
}

.alerts-grid {
    scrollbar-color: #FFDDF6 #503047;
}

@media (max-width: 768px) {
    .alerts-sidebar {
        display: none;
    }

    .alerts-grid {
        grid-template-columns: 1fr;
        padding: 1em;
    }
}
