.news-container {
  width: 90%;
  height: 80%;
  min-height: 100px;
  overflow: hidden;
  scroll-behavior: smooth;
  text-align: center;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(80, 48, 71, 0.1);
  color: var(--secondary-color);
}

.news-title {
  margin: 0 0 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
}

.news-link {
  display: inline-block;
  font-size: 0.85rem;
  color: var(--accent-color, #ffddf6);
  text-decoration: underline;
  font-weight: bold;
}