:root {
  --primary-color: #503047;
  --secondary-color: #FFDDF6;
  --accent-color: #E8C4DF;

  color: var(--primary-color);
  background-color: white;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--secondary-color);
}